body { 
    font-family: Arial, sans-serif; 
    background: #111; 
    color: white ; 
}

.step { 
    position: absolute; 
    width: 1200px; 
    max-width: 1200px; 
    padding: 20px; border-radius: 15px; 
    /*background: rgba(255, 255, 255, 0.1); */
    text-align: center; 
}


dotlottie-player{
    margin: 0 auto;
}

#particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 0px;
    z-index:-1;
}


h1, h2 { 
    font-family: "Cal Sans", sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
    margin-bottom: 1.2em;
}


h3 { 
    font-size: 1.6rem;
}


ul { 
    list-style: none; 
    padding: 0; 
}


p{
    font-size: 1.4rem;
    font-family: "Titillium Web", sans-serif;
}


li { 
    font-family: "Titillium Web", sans-serif;
    margin: 10px 0; 
    font-size: 1.4em; 
    text-align: left;
}